.width-max2 {
    max-width: 200px;
}

.width-max3 {
    max-width: 300px;
}

.width-min1 {
    min-width: 100px;
}

.width-min07 {
    min-width: 75px;
}

.width-min05 {
    min-width: 50px;
}

.table-data {
    width: 100%;
}

.table-data>thead>tr>th,
.table-data>tbody>tr>td {
    padding: 0.75rem 1.25rem;
    font-size: 14px;
}

.table-data>thead>tr>th {
    text-transform: uppercase;
}

.show:hover {
    box-shadow: none !important;
}

.dropdown-item:active {
    background-color: #f6f9fcd5;
}

.dropdown .action-table:hover {
    box-shadow: none;
}