.text-kalla-secondary {
    color: #FBAF40;
}

.width-max1 {
    max-width: 100px;
}

.width-max2 {
    max-width: 200px;
}

.width-max3 {
    max-width: 300px;
}

.width-min1 {
    min-width: 100px;
}

.width-min07 {
    min-width: 75px;
}

.width-min05 {
    min-width: 50px;
}

.table-data {
    width: 100%;
}

.table-data>thead>tr>th,
.table-data>tbody>tr>td {
    padding: 0.75rem 1.25rem;
    font-size: 14px;
}

.table-data>thead>tr>th {
    text-transform: uppercase;
}

.show:hover {
    box-shadow: none !important;
}

.dropdown-item:active {
    background-color: #f6f9fcd5;
}

.dropdown .action-table:hover {
    box-shadow: none;
}

.c-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.c-btn:focus:hover {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.c-btn:active {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
/* .nav-item .menu-active {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
    color: white !important;
    border-radius: 5px;
    font-weight: 700;
} */

.btn-y {
    background-color: rgb(247, 210, 0);
    color: white;
}
.btn-y:hover{
    color: white;
}
.font-16 {
    font-size: 16px;
}